{% load static %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<link href="{% static 'css/style.css' %}" rel="stylesheet">
<title>Login Page</title>
<section id="bck">
    <div class="bck-container">
        <h1>Login</h1>
        <label>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Log in">
            </form>
{#            <p>Email: <input type="email" name="username" placeholder="Username"></p>#}
{#            <p>Password: <input type="password" name="password" placeholder="Password"></p>#}
{#            <input type="submit" value="Log in">#}
            <br>
            <br>
            <p>You dont have an account? <a href="{% url 'user:register-view' %}">Sing Up</a></p>
        </label>
    </div>
</section>